body {
    background-color: brown;
    color: azure;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: -.05rem;
    font-size: 4rem;
}

h3 {
    text-align: center;
    font-size: 1.5rem;
}

.header {
    text-align: center;
    font-size: 1rem;
    background-color: antiquewhite;
    color:rgb(78, 72, 72);
    border: dotted .2rem rgb(78, 72, 72);
    margin: .5rem 10rem;
    padding: .5rem;
    border-radius: 25px;
}

.database {
    display: flex;
    flex-flow: row wrap;
}

.customer {
    border: .1rem dotted antiquewhite;
    border-radius: 25px;
    border: 2px solid #fabb56;
    padding: 10px;
    width: 200px;
    height: 120px;
    background-color: antiquewhite;
    color: rgb(78, 72, 72);
    margin: 2%;
}

.customer__type {
    padding: -1rem;
}

h2{
    text-decoration: underline;
    padding: -1rem;
}